* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: none;
  font-weight: inherit;
  font-style: inherit;
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  font-size: $base-font-size;
  font-family: $font-family-poppins;
}
