$breakpoint-pc: 1920px;
$breakpoint-lg: 768px;

$breakpoint-md: 767.02px;
$breakpoint-xs: 0px;

@mixin pc {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}
// mobile
@mixin sp {
  @media (min-width: $breakpoint-xs) and (max-width: ($breakpoint-md)) {
    @content;
  }
}
