// base color
$primary: #326dee;
$secondary: #1ac888;
$error: #d32752;
$infor: #f6c31c;

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "error": $error,
  "infor": $infor,
  "blue": #1919e6,
  "red": #e61919,
  "yellow": #e6e619,
  'green':#19e635,
  'orange':#ffa600,
  'purple':#9900ff,
  'gray':#808080,
  'black':black,
  'white':white
);

// base spacing
$base-padding: 0.75rem;

$base-margin: 0.75rem;

// base border
$base-border-thickness: 1px;
$base-border-radius: 20px;

// base box shadow

// base font size
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;
// base font family
$font-family-poppins: "Poppins", sans-serif;
$font-family-mulish: "Mulish", sans-serif;

// color common
$color-bg: #fff;
$color-2: #120A21;
$color-btn: #FFA920;
$color-4: #8E8E93;
$color-5: #E5E5EA;
$color-6: #FFF5E0;
$color-7: #3A3A3C;
$color-8: #EFEFEF;
$bg-color: #FFF4E7;
$bg-color2: #FFE8CE;
